
@{
    ViewBag.Title = "AddUserView";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
    <style>
        .fields {
            width: 600px;
        }

            .fields > label {
                display: inline-block;
                width: 100px;
                font-weight: bold;
                vertical-align: -1px;
            }

            .fields > span {
                display: inline-block;
            }
    </style>
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div>
    <h1>New User</h1>
</div>

<body>
    <p>
        Please enter your information below.
    </p>
    @if (ViewData["InvalidEmail"] != null && (bool)ViewData["InvalidEmail"])
    {
        <p style="color:red">Invalid email format</p>
    }
    @if (ViewData["InvalidUserName"] != null && (bool)ViewData["InvalidUserName"])
    {
        <p style="color:red">Invalid user name</p>
    }
    <form id=1 method="post" action="AddUser">
        <div class="fields">
            <label>User Name:</label>
            <span><input type="text" name="name" /></span>
        </div>
        <div class="fields">
            <label>Email:</label>
            <span><input type="text" name="email" /></span>
        </div>
        <div class="fields">
            <label>Password:</label>
            <span><input type="text" name="password"/></span>
        </div>
        <input type="submit" id=2 value="Create Acount" />
    </form>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>


