
@{
    ViewBag.Title = "LogInUserNameView";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
    <style>
        .fields {
            width: 600px;
        }

            .fields > label {
                display: inline-block;
                width: 100px;
                font-weight: bold;
                vertical-align: -1px;
            }

            .fields > span {
                display: inline-block;
            }
    </style>
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div>
    <h1>Login Page</h1>
</div>

<body>
    <p>
        Please enter your username and password below.
    </p>
        @if (ViewData["incorrectCred"] != null &&(bool)ViewData["incorrectCred"]) {
            <p style="color:red">Incorect username or password</p>
    }
    <form id=1 method="post" action="/Login/LoginUsername">
        <div class="fields">
            <label for="Username">Username :</label>
            <span><input type="text" name="username" /></span>
        </div>
        <div class="fields">
            <label for="Username">Password :</label>
            <span><input type="password" name="password" /></span>
        </div>

        <input type="submit" id=2 value="Login" />
    </form>

    <a href="/Login/AddUserView">New User</a>

</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>

