
@{
    ViewBag.Title = "LogInPasswordView";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div>
    <h1>Login Page</h1>
</div>

<body>
    <p>
        Please enter authentication code below.
    </p>
    <form id=1 method="post" action="LoginPassword">
        <div>
            <label for="Password">code :</label>
            <input type="text" name="password"/>
        </div>
        <input type="submit" id=2 value="Login" />
    </form>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
