
@{
    ViewBag.Title = "LogInUserNameView";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div class="backcolor">
    <h1>Login Page</h1>
</div>

<body>
    <p>
        Please enter your username and password below.
    </p>
        @if (ViewData["incorrectCred"] != null &&(bool)ViewData["incorrectCred"]) {
            <p style="color:red">Incorect username or password</p>
    }
    <form id=1 method="post" action="/Login/LoginUsername">
        <div>
            <label for="Username">Username :</label>
            <input type="text" name="username" />
        </div>
        <div>
            <label for="Username">Password :</label>
            <input type="password" name="password" />
        </div>

        <input type="submit" id=2 value="Login" />
    </form>

    <a href="/Login/AddUserView">New User</a>

</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>

