
@{
    ViewBag.Title = "LogoutView";
}


<link rel="stylesheet" href="~/Content/MyStyle.css">

<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div>
    <h1>My Account</h1>
</div>
<br />
<br />
@if (ViewData["username"] != null)
{
    <p>Username: @ViewData["username"]</p>
}
@if (ViewData["email"] != null)
{
    <p>Email: @ViewData["email"]</p>
}
<br />
<br />
@Html.ActionLink("Logout?", "LogOut", "Login")

<footer>Copyright &copy 2021 by UW-Platteville</footer>


