@{
    ViewBag.Title = "About";
}
<head>
    <style>
        h1 {
            background-color: lightgray;
        }
    </style>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<h1>
    About Platteville Bakery!
</h1>

<body>
    <p>
        This Platteville Bakery was founded back in 1952, located right here in Platteville, WI!
        We only have one location but our seasonal treats are ever changing! We are
        currently owned by Lucas Jensen and Jacob Henrichs. The ownership has been passed down through our famalies ever since we opened. It is
        very important to us that the menus and the way things are done are kept the same throughout the years. This keeps that old fashioned vibe
        that we beleive is the heart of this business. We still have past owners and employees that come in and say that nothing has changed since they worked there!
        Feel free to stop in today for all your bakery needs. Also, we currently have a 4.9 stars out of 5 on google reviews so please drop a review after your visit
        to help us improve in any way that we can! Thanks again!
    </p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
