
@{
    ViewBag.Title = "HoursDirections";
}

<head>
    <title>Platteville bakery hours and directions</title>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<h1>Hours and Directions</h1>

<body>
    <table style="width: 20%;">
        <tr>
            <th>Day</th>
            <th>Times</th>
        </tr>
        <tr>
            <th>Sunday</th>
            <th id="sundayColor">Closed</th>
        </tr>
        <tr>
            <th>Monday</th>
            <th>8:00am - 8:00pm</th>
        </tr>
        <tr>
            <th>Tuesday</th>
            <th>8:00am - 8:00pm</th>
        </tr>
        <tr>
            <th>Wednesday</th>
            <th>8:00am - 5:00pm</th>
        </tr>
        <tr>
            <th>Thursday</th>
            <th>8:00am - 8:00pm</th>
        </tr>
        <tr>
            <th>Friday</th>
            <th>8:00am - 8:00pm</th>
        </tr>
        <tr>
            <th>Saturday</th>
            <th id="saturdayColor">Closed</th>
        </tr>
    </table>
    <p>
        Platteville bakery&reg; is located at the address 150 Smith street Platteville Wisconsin.
        Platteville bakery is also closed on all national and state holidays along with every
        Saturday and Sunday. Keep up to date on our opening times on this site. Times are
        subject to change.
    </p>
    <p>
        Directions from University of Wisconsin Platteville campus: Head down main street until you reach John street. Then take a right on to John street and follow that until you reach Smith street. Take a left onto smith street
        and our store should be right there.
    </p>

    <p>
        We soon intended to have delivery from our store. Delivery will be available to anyone in the Plateville area. Deverry hours will be the same as our normal store hours.
        You soon will be able to place your order directly on this site or you can call our store phone number.
    </p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
