@{
    ViewBag.Title = "Home Page";
}

<head>
    <title>Platteville bakery index</title>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
    <style>
        .warning {
            color: crimson;
        }
    </style>
</head>

<header>Platteville Bakery<img src="~/img/pb.jpg" /></header>
<h1>Home</h1>

<body>
    <p style="font-size: large;">
        Welcome to the offical website for the Platteville Bakery&reg;!
        If you are here to order some of our delicious baked goods head over to the items for sale link.
        If you want to learn more about our business go to the about page. for infromation about our products
        use the Information on our product link. What to hear about company news use the news link. For Information
        on when we are open and where we are located use the Hours and directions link. If you would like to send your feedback to Platteville bakery you can send an email to
        Platteville_Bakery@fake.com. Thank you for your patornage.
    </p>
    <p style="font-style: italic;">
        Platteville Bakery offers &quot;premium&quot; baked goods for an affordable price. We encourage you to check out Platteville bakery and try some of our amazing products.
        If you come to our location and we don't have the item you want in stock and the item is on our menu we will bake the item to order for you. We appreciate your patience.
        Become a member today by texting the word join to our phone number.
    </p>
    <div class="warning">
        <h4>Warning</h4>
    </div>

    <p style="color: red;">
        Platteville bakery uses tree nuts and peanuts in some of our recipes make a special request if you have certain
        food allergies.
    </p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>