
@{
    ViewBag.Title = "ItemsForSale";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<style>
    #myTitle {
        background-color: lightgray;
    }
</style>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<h1 id="myTitle">Items for sale!</h1>

<body>
    <p>
        Since we have such a loyal community, we are able to provide you with tons of deals that change every week! You can check here every week to look and see if any of the deals will benefit you.
        Our deals vary anywhere from free pastries, to buy some get some free, to free samples and even punch cards! We thrive and love to give back to the community that has done
        so much for this bakery in the past! If you have any questions regarding our offers, please feel free to ask one of our great staff members! Here is a list of this weeks deals! Take advantage while you can!
    </p>
    <table>
        <tr>
            <th>Item</th>
            <th>Old Price</th>
            <th>New Price</th>
        </tr>
        <tr>
            <td>Blueberry Scones</td>
            <td>$2.50</td>
            <td>$1.50</td>
        </tr>
        <tr>
            <td>Chocolate Chip Muffin</td>
            <td>$3.00</td>
            <td>$2.50</td>
        </tr>
        <tr>
            <td>Blueberry Donut Holes, 20 ct</td>
            <td>$10.00</td>
            <td>$7.50</td>
        <tr>
            <td>Glazed Donut Holes, 3 ct</td>
            <td>$1.00</td>
            <td> &cent50</td>
        </tr>
        </tr>
        <tr>
            <td>Cookie Cake</td>
            <td>$22.00</td>
            <td>$18.75</td>
        </tr>
    </table>
    <p> Some extra special deals are listed below!
    <p> All Muffins!  Buy 2 get 1 free! </p>
    <p> Boston Creme Donuts!  One free with every purchase over $10.00 </p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
