
@{
    ViewBag.Title = "News";
}

<head>
    <title>Platteville bakery News</title>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>

<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<h1>Platteville Bakery News</h1>

<body>
    <p id="firstHeadline">
        9/25/2021: Introducing the online store. Comming soon you will be able to place an order on our
        website and pick up your baked goods at our store.
    </p>

    <p>9/21/2021: New cookies to be anouced soon!</p>

    <p>8/10/2021: New deal by one dozen donuts get another dozen half off.</p>

    <p>7/1/2021: Getting ready for the 4th of July? Pick up some of our America theamed cookies</p>

    <p>
        5/16/2021: Major changes comming to our store. We are expanding and will soon be looking at expanding
        our inventory and adding new products look out for more information.
    </p>

    <p>4/1/2021: Limited time offer tripple cocolate cheese cake!</p>

    <p>3/14/2021: Pi day! get 3.14% off of all pies today olny.</p>

    <p>2/1/2021:Get ready for Valentines day with are seasonal deals.</p>

    <p>1/1/2021: New year event menu is now avialable through the month of January.</p>

    <p>11/1/2020: Remember to pickup a pumpkin pie this Thanksgiving at Platteville Bakery.</p>

    <p>10/15/2020: Pick up some Hollowen cookies. Only available this month</p>

    <p>10/1/2020: Limited time offer pumpkin bread! </p>

    <p>9/3/2020: Welcome back students! UW-Platteville students and staff get 15% off of select items this week.</p>

    <p>8/1/2020: We are adding new equipment we will be closed for the coming week.</p>

    <p>7/20/2020: Just don't loaf there get off your buns and grab some fresh bread</p>

    <p>7/1/202: Before you roll out come and get some of our fresh donuts.</p>

    <p>6/15/2020: Come over and try out our daily made bread.</p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
