
@{
    ViewBag.Title = "PagesWithInfo";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div class="backcolor">
    <h1>What Makes our Donuts so Special!</h1>
</div>

<body>
    <p>
        Our bakery is not any ordinary bakery, unlike most we make all of our donuts right
        here fresh every morning!
        Below are the exact steps we follow when it comes to fresh donut making
    </p>
    <p>1. The first step is to make the homemade dough and roll it out, this is done with our own founded recipe. It is top-secret and only a select number of individuals/employees know it.</p>
    <p>2. Then, we proof the freshly made dough, which allows it to puff up and provide those air bubbles that make it so tasty.</p>
    <p>3. We chill the dough for a couple hours and take it out to get it to room temperature. </p>
    <p>
        4. Next, we fry the dough into a nice crusty crust and leave a doughy middle. It is crucial not to over cook the dough becuase it would then have the risk of burning.
        It is also very important to not under cook it because this would leave it raw and that could cause salmonella.
    </p>
    <p>5. Finally, we glaze the warm donut to top it off with a warm sugary outside. Our frosting is also homeade and is the perfect amount of sweet to add to the savory, moist donut!</p>
    <p>
        We have been following this process since we opened the store! Why fix something that our customers love?
    </p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>