
@{
    ViewBag.Title = "OrderPlacedView";
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div class="backcolor">
    <h1>Order Confirmation Page</h1>
</div>
<body>
    <p>
        Thank you so much for your order! We will have it ready shortly!
    </p>
</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>

