
@model IEnumerable<WebApplication2.Models.ShopingCartModel>
    

@{ 
    ViewBag.Title = "ShoppingCart";
    const string CONTROLLER_NAME = "ShopingCartController";
    var breadAmount = 0;
    var bananaBreadAmount = 0;
    var cookiesAmount = 0;
    var muffinsAmount = 0;
    var donutsAmount = 0;
    double total = 0;
    foreach(WebApplication2.Models.ShopingCartItem item in (IEnumerable<WebApplication2.Models.ShopingCartItem>)ViewData["cart"])
    {
        if (item.Id == 0)
        {
            breadAmount = item.Amount;
        }
        else if (item.Id == 1)
        {
            bananaBreadAmount = item.Amount;
        }
        else if (item.Id == 2)
        {
            cookiesAmount = item.Amount;
        }
        else if (item.Id == 3)
        {
            muffinsAmount = item.Amount;
        }
        else if (item.Id == 4)
        {
            donutsAmount = item.Amount;
        }
        total += item.Amount * item.Price;
    }
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div class="backcolor">
    <h1>Shopping Cart</h1>
</div>

<body>
    <p>
        Please feel free to add items to your cart. After addind items, you will also be able to change the quantity and take items out of your cart if you change your mind.
    </p>
    <form id=1 method="post" action="UpdateCartData">
        <div>
            <label for="Bread">Bread : $3.00</label>
            <input type="text" name="breadText" value=@breadAmount />
        </div>
        <div>
            <label for="BananaBread">Banana Bread : $4.00</label>
            <input type="text" name="bananaText" value=@bananaBreadAmount />
        </div>
        <div>
            <label for="Cookies">Cookies : $3.50</label>
            <input type="text" name="cookiesText" value=@cookiesAmount />
        </div>
        <div>
            <label for="Muffins">Muffins : $3.75</label>
            <input type="text" name="muffinText" value=@muffinsAmount />
        </div>
        <div>
            <label for="Donuts">Donuts : $2.50</label>
            <input type="text" name="donutText" value=@donutsAmount />
        </div>
        <div>
            <label for="Name">Name</label>
            <input type="text" name="nameText" />
        </div>
        <div>
            <label for="CreditCard">Credit Card Numeber</label>
            <input type="text" name="creditCardtText" />
        </div>
        <input type="submit" id=2 value="Order" />
    </form>
    <p> Total Price: $@total</p>

</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
