
@model IEnumerable<WebApplication2.Models.ShopingCartModel>
    

@{ 
    ViewBag.Title = "ShoppingCart";
    const string CONTROLLER_NAME = "ShopingCartController";
    var breadAmount = 0;
    var bananaBreadAmount = 0;
    var cookiesAmount = 0;
    var muffinsAmount = 0;
    var donutsAmount = 0;
    double total = 0;
    foreach(WebApplication2.Models.ShopingCartItem item in (IEnumerable<WebApplication2.Models.ShopingCartItem>)ViewData["cart"])
    {
        if (item.Id == 0)
        {
            breadAmount = item.Amount;
        }
        else if (item.Id == 1)
        {
            bananaBreadAmount = item.Amount;
        }
        else if (item.Id == 2)
        {
            cookiesAmount = item.Amount;
        }
        else if (item.Id == 3)
        {
            muffinsAmount = item.Amount;
        }
        else if (item.Id == 4)
        {
            donutsAmount = item.Amount;
        }
        total += item.Amount * item.Price;
    }
}

<head>
    <link rel="stylesheet" href="~/Content/MyStyle.css">
    <style>
        .fields {
            width: 600px;
        }

            .fields > label {
                display: inline-block;
                width: 150px;
                font-weight: bold;
                vertical-align: -1px;
            }

            .fields > span {
                display: inline-block;
            }
    </style>
</head>
<header>Platteville Bakery <img src="~/img/pb.jpg" /></header>
<div >
    <h1>Shopping Cart</h1>
</div>

<body>
    <p>
        Added the Items you crave!
    </p>
    @if (ViewData["invalidInput"] != null && (bool)ViewData["invalidInput"]) { 
        <p style="color:red">Invalid Input</p>
    }
    <form id=1 method="post" action="UpdateCartData">
        <div class="fields">
            <label for="Bread">Bread : $3.00</label>
            <span><input type="text" name="breadText" value=@breadAmount /></span>
        </div>
        <div class="fields">
            <label for="BananaBread">Banana Bread : $4.00</label>
            <span><input type="text" name="bananaText" value=@bananaBreadAmount /></span>
        </div>
        <div class="fields">
            <label for="Cookies">Cookies : $3.50</label>
            <span><input type="text" name="cookiesText" value=@cookiesAmount /></span>
        </div>
        <div class="fields">
            <label for="Muffins">Muffins : $3.75</label>
            <span><input type="text" name="muffinText" value=@muffinsAmount /></span>
        </div>
        <div class="fields">
            <label for="Donuts">Donuts : $2.50</label>
            <span><input type="text" name="donutText" value=@donutsAmount /></span>
        </div>
        <input type="submit" id=2 value="Save and Calculate" />
    </form>
    <br />
    <p> Total Price: $@total</p>
    <br />
    <br />
    <form id=3 method="post" action="PlaceOrder">
        <div class="fields">
            <label for="CreditCard">Credit Card Numeber</label>
            <span><input type="text" name="creditCardNumber" /></span>
        </div>
        <input type="submit" id=4 value="Order" />
    </form>

</body>
<footer>Copyright &copy 2021 by UW-Platteville</footer>
